<div class="container">
    <div class="photo">
        <img src="https://dummyimage.com/640x400/fff/aaa" alt="Imagem-Noticia"/>
    </div>
    <div class="title">
        <h1><a href="#"> Lorem ipsum dolor sit amet </a></h1>
    </div>
    <div class="description">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam aspernatur ipsum eligendi blanditiis ratione, ipsa sapiente iure!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam aspernatur ipsum eligendi blanditiis ratione, ipsa sapiente iure!
        </p>
    </div>
</div>