.menu_title > h1{
    color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    font-size: 5rem;
}

.menu_title > hr{
    margin-top: 15px;
    margin-bottom: 15px;
}