.menu_title > h1{
    color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    font-size: 5rem;
}

.menu_title > hr{
    margin-bottom: 15px;
    margin-top: 0;
}

/******************** RESPONSIVE *******************************/
@media screen and (max-width: 600px){
    .menu_title > h1{
        font-size: 2rem;
    }
}