<div class="container">
    <div class="photo">
        <img src="https://dummyimage.com/500x500/fff/aaa" alt="Image-Noticia">
    </div>
    <div class="content">
        <span class="author"> Doot's Sitamet </span>
        <div class="description">
            <p><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam aspernatur ipsum eligendi blanditiis ratione, ipsa sapiente iure!
            </a></p>
        </div>
    </div>
</div>